/* CSS declarations go here */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Muli', sans-serif;
    background: #F7F7F7;

    height: 100%;
}

ul {
    list-style: none;
}



.main-layout
{
    display: flex;

    border: 1px solid red;
}


nav {
    background: red;
    width: 300px;
    flex: 0 auto;
}

main {
    background: green;
    flex: 1 auto;
}

.post-summary {
    border: 1px solid black;
    padding: 20px;
}
