@import url( 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import '../imports/styles/reset.scss';
$paper-color: #F5F8FD;
$brand-color: #50E3C2;
$accent-color: red;
$line-color: #EEE;

////////////////////////////////////////////////
/// Basics
////////////////////////////////////////////////

* {
	box-sizing: border-box;
}

/////////////////////////////////////////
/// Appearance
////////////////////////////////////////////////

body {
	font-family: 'Roboto', sans-serif;
	background: $paper-color;
	height: 100%;
}

h1 {
	font-size: 3em;
}

b,
strong {
	font-weight: 500;
	color: darken($brand-color, 20);
}

em,
i {
	font-style: italic;
}

main {
	// padding: 2em;
}

////////////////////////////////////////////////
/// General Modules
////////////////////////////////////////////////

.message {
	// border: 1px solid $brand-color;
	// border-radius: 5px;
	margin: 2em;
	// padding: 1em;
	text-align: center;
	// box-shadow: 0 0 5px rgba(0,0,0,.2);
	font-size: 18px;
	line-height: 1.5em;
}

div.name-value {
	.name {
		display: block;
	}

	.value {
		display: block;
		margin-bottom: 10px;
	}
}
@mixin clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.icon-button {
	// background-color: green;
	padding: 5px;
	cursor: pointer;
}

.icon-button:hover {
	color: $accent-color;
}

////////////////////////////////////////////////
/// main_nav
////////////////////////////////////////////////

.main-nav {
	position: relative;
	flex: 0 auto;
	background: white;

	height: 120px;
	padding-left: 60px;
	line-height: 120px;
}

.main-nav h1 {
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.05em;

	a {
		color: inherit;
	}
}

.main-nav .right {
	position: absolute;
	top: 0;
	right: 0;

	height: 120px;
	padding-right: 60px;
	line-height: 120px;
}

.main-nav .headshot {
	// border: 1px solid black;
	height: 60px;
	width: 60px;
	background-color: $line-color;
	border-radius: 100px;
	// border: 1px solid red;
	outline: none;
	vertical-align: middle;
	margin-left: 20px;
}

.main-nav button.create-post {}

.main-nav .user-dropdown {
	display: inline;
}

.main-nav .dropdown-menu {
	// border: 1px solid red;
	top: 50px;
}

.dropdown-menu.sign-in {
	// border: 1px solid red;
	width: 350px;

	.at-form,
	form {
		margin: 0;
	}

	.at-title {
		display: none;
	}

	.at-signin-link,
	.at-signup-link {
		margin-bottom: 0;
	}
}

////////////////////////////////////////////////
/// Page Avalanche
////////////////////////////////////////////////

////////////////////////////////////////////////
/// Page User
////////////////////////////////////////////////

.user-info {
	padding: 10px;
	background: white;
	padding: 2em;
	margin: 2em;
	text-align: center;
	position: relative;
}

.user-info .headshot {
	border-radius: 50%;
	margin-bottom: 1em;
}

.user-info .name {
	font-size: 64px;
	font-weight: bold;
	margin-bottom: 0.5em;
}

.user-info .description {
	font-size: 24px;
	margin-bottom: 1em;
}

// .user-info button.edit-user {
// 	position: absolute;
// 	right: 1em;
// 	top: 1em;
// }

.sketch-count {
	text-align: center;
}

////////////////////////////////////////////////
/// Page Prefs
////////////////////////////////////////////////

.debug-info {
	margin: 2em;
	padding: 1em;
	border: 1px solid $brand-color;
	border-radius: 5px;
	overflow: auto;

	pre {
		overflow: hidden;
	}
}

////////////////////////////////////////////////
/// posts
////////////////////////////////////////////////

.posts {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	margin: auto;

}

.post {
	width: 400px;
	margin: 0 10px 30px;
	outline: 1px solid $line-color;
	box-shadow: 3px 3px 8px darken($paper-color, 5);
	background: white;
}

.posters {
	@include clearfix;
}

.post .poster-link img {
	display: block;
	object-fit: cover;
	cursor: pointer;
	// border: 1px solid $line-color;
	max-height: 600px;
	width: 100%;
}

.posters-2 .poster-link:nth-child(1) img,
.posters-3 .poster-link:nth-child(1) img {
	margin-bottom: 2px;
}

.posters-2 .poster-link:nth-child(2) img {
	float: left;
	object-fit: cover;
	width: 400px;
	height: 200px;
}

.posters-3 .poster-link:nth-child(2) img,
.posters-3 .poster-link:nth-child(3) img {
	float: left;

	object-fit: cover;
	width: 199px;
	height: 200px;
}

.posters-3 .poster-link:nth-child(2) img {
	margin-right: 2px;
}

.post .poster-link video {
	display: block;
	// outline: 1px solid $line-color;
}

$post-margin: 20px;

.post .info {
	border-top: 1px solid $line-color;
	font-weight: 300;
}

.post .inspiration {
	margin-top: $post-margin;
	margin-left: $post-margin;
	font-size: 12px;

}

.post .description {

	margin-top: $post-margin;
	margin-left: $post-margin;
	font-size: 18px;

}

.post .group {
	margin: $post-margin 0 $post-margin/2;
	font-size: 8px;
	line-height: 30px;
	font-weight: 400;
}

.post .author {

	margin-left: $post-margin;

	.name {
		text-transform: uppercase;
		letter-spacing: 0.1em;
		margin-left: 10px;
	}

	img {
		vertical-align: middle;
		height: 30px;
		border-radius: 500px;
	}
}

.post .date {
	float: right;
	margin-right: $post-margin;
}

.post .actions {
	width: 100%;
	height: 30px;
	padding: 0 $post-margin;

	position: absolute;
	bottom: $post-margin * 0.5;

	background: white;
	line-height: 30px;
	text-align: right;
	opacity: 0;
	visibility: hidden;

	transition: all 0.3s;
}

.post:hover .actions {
	opacity: 1;
	visibility: visible;
}

.post .actions .no-actions {
	text-transform: uppercase;
	font-size: 8px;
	letter-spacing: 0.1em;
}

////////////////////////////////////////////////
/// user-summary
////////////////////////////////////////////////

.user-summaries {
	border-top: 1px solid $line-color;
	background-color: white;
	display: flex;
	justify-content: center;
	padding: 1em;
}

.user-summary {
	// background: red;
	// padding: 5px 10px;
	text-align: center;
	border-bottom: 5px solid aqua;
	margin: 3px;
}

.user-summary a {
	color: black;
}

.user-summary .name {
	font-size: 12px;
	margin: 4px;
	display: none;
}

.user-summary .headshot {
	display: block;
	// border-radius: 50%;
	width: 50px;
}

////////////////////////////////////////////////
/// overlay
////////////////////////////////////////////////

.overlay {
	background: rgba(203,223,255,.9);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

.overlay-form {
	width: 500px;
	margin: 3em auto;
	background: white;
	margin-bottom: 50px;
	box-shadow: 1px 5px 30px #81A7D9;
}

.overlay-form .title-bar {
	text-align: center;
	font-size: 1em;
	padding: 1em;
	text-transform: uppercase;
}

////////////////////////////////////////////////
/// BOOTSTRAP DROPDOWN
////////////////////////////////////////////////
#layout-main .dropdown-menu-right:before {
	position: absolute;
	top: -10px;
	right: 21px;
	display: inline-block;
	border-right: 9px solid transparent;
	border-bottom: 9px solid #ccc;
	border-left: 9px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
}

#layout-main .dropdown-menu-right:after {
	position: absolute;
	top: -9px;
	right: 21px;
	display: inline-block;
	border-right: 9px solid transparent;
	border-bottom: 9px solid #ffffff;
	border-left: 9px solid transparent;
	content: '';
}

////////////////////////////////////////////////
/// FORMS
////////////////////////////////////////////////

// Global Bootstrap Restyling

#layout-main .btn {
	font-size: 13px;
	font-weight: 500;
	line-height: 13px;
	text-transform: uppercase;
	letter-spacing: 0.1em;

	padding: 7px 20px;

	background: transparent;
	color: black;
	border: 1.5px solid black;
	border-radius: 500px;
	outline: none;
}

#layout-main .btn.cancel {
	border: none;
	float: right;
	padding: 7px 0;
}

#layout-main label {
	color: black;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin-bottom: 5px;
}

// Overlay Forms
.overlay-form form {
	margin: 20px;
}

.overlay-form .title-bar {
	background: black;
	color: white;
}

.overlay-form .content {
	padding-bottom: 1px;
}

// Specific Forms

// Edit Post Form

#edit-post-form .group {
	// side by side fields (inspiration name | inspiration url)
	display: flex;
	justify-content: space-between;

	> .form-group {
		flex: 1 1 auto;
		margin-right: 10px;
	}

	> .form-group:last-child {
		margin-right: 0;
	}

	// a bit of shame, margins were not collapsing properly, help block not _that_ needed on optional
	.help-block {
		display: none;
	}
}

#edit-post-form .posters {
	margin: 20px;

	display: flex;
	justify-content: space-between;

	> .poster-wrap {
		flex: 1 1 auto;
		margin-right: 10px;
		position: relative;

		img {
			width: 100%;
			height: 150px;
			object-fit: cover;
			border: 1px solid $line-color;
			display: block;
			position: absolute;
			top: 0;
		}

		.upload {
			width: 100%;
			height: 150px;
			text-align: center;
			cursor: pointer;
			margin-bottom: 0;
			background-color: $line-color;

			i {
				font-size: 40px;
				margin-bottom: 10px;
				margin-top: 50px;
			}
		}

		.upload:hover {
			color: $accent-color;
		}

		.info {
			padding: 5px 0;
		}

		.dimensions {
			float: left;
			font-size: 10px;
			line-height: 20px;
		}

		.remove {
			line-height: 20px;
			vertical-align: middle;
			padding: 0;
			float: right;
		}

	}

	> .poster-wrap:last-child {
		margin-right: 0;
	}
}

// Edit User Form

#edit-user-form .headshot-wrap {
	text-align: center;
	margin: 1em;

	img {
		border-radius: 50%;
	}
}

#edit-user-form .upload-button {
	display: block;
	cursor: pointer;
	margin: 1em;
	text-align: center;
}

#edit-user-form .upload-button:hover {
	color: $accent-color;
}

////////////////////////////////////////////////
/// #edit-post-form
////////////////////////////////////////////////
//
// #edit-post-form .poster-wrap {
// 	width: 100%;
//
// 	margin: 0 auto;
// 	text-align: center;
//
// 	overflow: auto;
// 	background-color: white;
//
// 	margin-top: 1em;
// }
//
// #edit-post-form label.button {
// 	cursor: pointer;
// 	margin-bottom: 1em;
// 	// background: blue;
// 	// padding: 6px 12px;
// 	// border-radius: 3px;
// 	// font-size: 14px;
//
// 	padding-top: 10px;
// 	padding-bottom: 10px;
// 	font-size: 24px;
//
// 	font-weight: normal;
// 	line-height: 1.42857143;
// 	text-align: center;
// 	white-space: nowrap;
// 	vertical-align: middle;
//
// 	// color: #000;
// 	// background-color: $brand-color;
// 	// border-color: #2e6da4;
//
// 	color: #6C7A89;
// 	border-color: black;
//
// 	width: 100%;
// }
//
// #edit-post-form .submit {
// 	position: absolute;
// 	background-color: $brand-color;
// 	border: none;
// 	width: 20%;
// 	color: black;
// 	right: 0;
// }
//
// #edit-post-form .cancel {
// 	background-color: white;
// 	width: 20%;
// 	text-align: center;
// }
//
// #edit-post-form .content {
// 	padding: 20px;
// }
//
// #edit-post-form .fa-cloud-upload {
// 	font-size: 75px;
// 	margin-bottom: 10px;
// 	color: #D5E0FA;
// }
//
// #edit-post-form .submit-cancel-container {
// 	position: relative;
// }
//
// .drag-drop-browse {
// 	align: center;
// 	margin: 0 auto;
// 	width: 100%;
// 	color: #D5E0FA;
// }
//
// .browse {
// 	color: #539FFC;
// }
//
// #layout-main #edit-post-form .upload-file-container label {
// 	margin: 0 auto;
// }
//
// .upload-file-container {
// 	padding-top: 10%;
// 	padding-bottom: 10%;
// 	border-style: dashed;
// 	border-width: 4px;
// 	border-radius: 20px;
// 	border-color: #D5E0FA;
// 	width: 100%;
// }
//
// // #layout-main #edit-post-form form label {
// // 	display: none;
// // }
//
// #layout-main form .inspiration {
// 	display: inline-block;
// 	margin-right: 10px;
// }
//
// .inspiration-name input {
// 	width: 33%;
// 	display: inline-block;
// }
//
// .inspiration-url input {
// 	display: inline-block;
// 	width: 33%;
// }
//
// #edit-post-form .inspiration-button {
// 	cursor: pointer;
// 	box-shadow: none;
// 	border: 1px solid lightgrey;
// 	border-radius: 50%;
// 	color: black;
// 	width: 30px;
// 	height: 30px;
// 	text-align: center;
// 	line-height: 25px;
// 	margin-left: 10px;
// }
//
// #layout-main input {
// 	border: none;
// 	box-shadow: none;
// 	border: 1px solid lightgrey;
// 	border-radius: 10px;
// 	color: black;
// }
//
// #layout-main label {
// 	font-size: 10px;
// 	padding: 10px;
// }
//
// #layout-main textarea {
// 	border: none;
// 	box-shadow: none;
// 	border: 1px solid lightgrey;
// 	border-radius: 10px;
// 	color: black;
//
// }
//
// #layout-main select {
// 	border: none;
// 	box-shadow: none;
// 	border: 1px solid lightgrey;
// 	border-radius: 10px;
// 	color: black;
// 	// -webkit-appearance: none;
// 	width: 50%;
// }
//
// #layout-main form .form-group [name="inspiration_url"] {
// 	width: 110%;
// }
//
// #layout-main form .form-group [name="inspiration_name"] {
// 	width: 100%;
// }
//
// ////////////////////////////////////////////////
// /// misc forms for refactoring
// ////////////////////////////////////////////////
//

.shadow {
	box-shadow: 0 0 15px darken($paper-color, 20);
}
